:root{
    --primary-color: #FFFFFF;
    --secondary-color: #D2D2D2;
    --accent-color : #58A4B0;
    --body-copy-color: #474747;
    /* --desktop: 90em;
    --laptop: 64em;
    --tablet: 53.125em;
    --mobile: 40em; */
}